@import "/resources/css/PageDefaultCss.css";


textarea {
    min-width: 100%;
    max-width: 100%;
}
input, select, label.inputFile {
    width: 100%;
}
.content {
    max-width: 60rem;
}

#contentPageDescription {
	max-width: 80rem;
}