@import "/resources/css/PageDefaultCss.css";


#wrapper {
	display: block;
}

#title {
	padding: 35px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 46px;
	color: var(--color-font-important);
}

#description {
	padding: 20px 35px;
	font-family: "Roboto", monospace;
	font-weight: 700;
	font-size: 18px;
	min-height: 50px;
	word-wrap: break-word;
}

form {
	padding: 20px 35px;
}
form span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
}
form button {
	margin-top: 10px;
}

