@import "/resources/css/PageDefaultCss.css";

#contentFeedback {
	max-width: 80rem;
}

#contentFeedback input,
#contentFeedback textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

#contentFeedback .outputWrapper {
	margin-bottom: 1.8rem;
}

#contentFeedback .outputWrapper span {
	font-size: 1.5rem;
	word-wrap: break-word;
}

#refNumber {
	color: var(--color-font-green);
}

.linkButton {
	margin: 2.2rem auto 1rem;
}