* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#i5xm {
	background-color: #ffe6e6;
}

#i5dg {
	background-color: #dba5a5;
	position: static;
	width: 350px;
	height: 600px;
}

#iipx {
	position: relative;
	top: 15px;
	height: 210px;
	margin: 0px;
	padding: 0px;
}

#ikq8l {
	height: 35px;
	width: 200px;
	left: 25px;
	position: relative;
	border-radius: 7px 7px 7px 7px;
	border: 2px solid #bdbdbd;
	font-size: 15px;
	padding: 10px;
	margin: 0px;
}

#i9zl {
	position: relative;
	left: 25px;
	font-size: 18px;
	font-family: "Inter", sans-serif;
	padding: 0px;
	margin: 0px;
}

#ianeo {
	position: relative;
	left: 25px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

#ikmqp {
	position: relative;
	top: 20px;
	left: 25px;
	width: 200px;
	height: 35px;
	border-radius: 7px;
	background-color: #313131;
	text-align: center;
	color: #fdfdfd;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border: 0px none;
	padding: 0px;
	font-weight: 400;
	margin: 0px;
}

#in4rx {
	width: 200px;
	height: 35px;
	position: relative;
	left: 25px;
	border-radius: 7px 7px 7px 7px;
	border: 2px solid #bdbdbd;
	font-size: 15px;
	margin: 0px;
	padding: 10px;
}

#iao9b {
	background-color: #fff8f8;
	height: 270px;
	width: 250px;
	border-radius: 20px 20px 20px 20px;
	position: relative;
	top: 15px;
	left: 45px;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
	padding: 0px;
	margin: 0px;
}

#i2sh {
	position: relative;
	margin: 0px;
	padding: 0px;
}

#i1uz3 {
	position: relative;
	top: 5px;
	margin: 0px;
	padding: 0px;
}

#imxfh {
	position: relative;
	left: 350px;
	top: -600px;
	height: 600px;
	border-left: 5px solid rgba(147, 75, 75, 0.6);
	border-bottom: 5px solid rgba(147, 75, 75, 0.6);
	border-right: 5px solid rgba(147, 75, 75, 0.6);
	width: 795px;
}

#illyu {
	position: relative;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 700;
	left: 20px;
	top: 55px;
	width: 725px;
	padding: 0px;
	margin: 0px;
}

#i3xat {
	position: relative;
	left: 25px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border: 0px none;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: underline;
	text-align: left;
	top: 10px;
	color: #000000;
	letter-spacing: 0px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

#i9ami {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	letter-spacing: 0px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

#iuoax {
	height: 45px;
}

#i8bga {
	position: relative;
	top: 14px;
	height: 46px;
	margin: 0px;
	padding: 0px;
}

#irep4 {
	position: relative;
	left: 25px;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: #d60000;
	padding: 0px;
	margin: 0px;
}

#igiel {
	position: relative;
	left: 25px;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: #d60000;
	padding: 0px;
	margin: 0px;
}

#ix3vku {
	position: relative;
	width: 250px;
	height: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	border-radius: 7px;
	border: 0px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	left: 45px;
	top: 35px;
	color: #8a4545;
	font-weight: 700;
	background-color: #efefef;
	padding: 0px;
	letter-spacing: 0px;
	margin: 0px;
}

#iq2wzk {
	height: 130px;
}

#i9l8gi {
	position: relative;
	left: 60px;
	width: 220px;
	height: 35px;
	border-radius: 7px;
	background-color: #6f1d1d;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: #fdfdfd;
	border: 0px none rgba(0, 0, 0, 0);
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#i9ojw1 {
	position: relative;
	top: 75px;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

#ilt5zk {
	border: 10px solid rgba(147, 75, 75, 0.85);
	position: relative;
	height: 165px;
	width: 1145px;
	padding: 0px;
}

#i99fq4 {
	position: relative;
	left: 10px;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #d60000;
	top: 6px;
	max-width: 140px;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#i1hupq {
	position: relative;
	left: 135px;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #d60000;
	top: -16px;
	width: 955px;
	height: 135px;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#ip7596 {
	padding: 10px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	position: relative;
	left: 13px;
	color: #000000;
	width: 735px;
}

#ir0137 {
	font-weight: normal;
	font-family: "Inter", sans-serif;
}

#ia7xhn {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	letter-spacing: 0px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

#i8arqt {
	height: 45px;
}

#ijuhm8 {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	letter-spacing: 0px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

#i8t8wg {
	height: 45px;
}

#if14we {
	padding: 10px;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	position: relative;
	left: 200px;
	top: -29px;
	color: #000000;
	width: 545px;
}

#i4zxdj {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	letter-spacing: 0px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

#i90xc5 {
	height: 45px;
}

#ileipf {
	height: 100px;
	margin: 0px;
	padding: 0px;
}

#i9n2n3k {
	font-family: "Inter", sans-serif;
	color: #0b9f37;
}

#ikmqp:hover {
	box-shadow: 0 0 10px 0 rgba(11, 159, 55, 0.85);
}

#ikmqp:active {
	background-color: rgba(49, 49, 49, 0.85);
	color: #fdfdfd !important;
}

#i4zxdj:hover {
	background-color: #e4e4e4;
}

#ia7xhn:hover {
	background-color: #e4e4e4;
}

#i9ami:hover {
	background-color: #e4e4e4;
}

#ijuhm8:hover {
	background-color: #e4e4e4;
}

#i4zxdj:active {
	background-color: #a8a8a8;
}

#i9ami:active {
	background-color: #a8a8a8;
}

#ia7xhn:active {
	background-color: #a8a8a8;
}

#ijuhm8:active {
	background-color: #a8a8a8;
}

#i9l8gi:hover {
	background-color: #842222;
}

#i9l8gi:active {
	background-color: #9c3737;
}

#ix3vku:hover {
	background-color: #e4e4e4;
}

#ix3vku:active {
	background-color: #a8a8a8;
}
