@import "/resources/css/PageDefaultCss.css";

.outputWrapper {
	display: grid;
	grid-template-columns: 30% auto;
	grid-auto-rows: auto;
	gap: 1rem 5%;

	align-items: start;
	justify-items: start;
	
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.outputWrapper .label {
	grid-column: 1 / 2;
}

.outputWrapper .output {
	grid-column: 2 / 3;
}

.outputWrapper span {
	font-size: 1.5rem;
	word-wrap: break-word;
}

#contentPersonalInformation .outputWrapper span {
	color: var(--color-font-light-dim);
}

#contentCertificate .certificateImage {
	display: block;
	width: 80%;
	margin: 1rem auto 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	filter: brightness(0.65);
}

@media screen and (max-width: 1024px) {
	#contentCertificate .certificateImage {
		width: 90%;
	}
}

@media screen and (max-width: 750px) {
	#contentCertificate .certificateImage {
		width: 100%;
	}
}