@import "/resources/css/PageDefaultCss.css";


#wrapper {
	display: block;
}

#message {
	padding: 35px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 46px;
	/* color: #0b9f37; */
	color: var(--color-font-green);
	word-wrap: break-word;
}

#destination {
	padding: 20px 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: var(--color-font-light-dim);
	word-wrap: break-word;
}

#destination span {
	color: var(--color-font-light);
	word-wrap: break-word;
}