@import "/resources/css/PageDefaultCss.css";

.content {
	max-width: 60rem;
}

#contentPageDescription {
	max-width: 80rem;
}

select, textarea {
	width: 100%;
}

textarea {
	min-width: 100%;
	max-width: 100%;
}

.firstContent {
	margin-top: 6rem;
}