* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#ij1hw {
	background-color: #dba5a5;
	position: static;
	width: 350px;
	height: 600px;
}

#icnopa {
	background-color: #ffe6e6;
}

#ifffxi {
	position: relative;
	width: 250px;
	height: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	border-radius: 7px;
	border: 0px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
	left: 45px;
	top: 35px;
	font-weight: 700;
	color: #8a4545;
	background-color: #efefef;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0px;
}

#ikz7hf {
	height: 130px;
	margin: 0px;
	padding: 0px;
}

#iplzo3 {
	position: relative;
	left: 25px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: 400;
	letter-spacing: 0px;
	margin: 0px;
	padding: 0px;
}

#iv9349 {
	position: relative;
	left: 25px;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #000000;
	top: 5px;
	font-weight: 400;
	letter-spacing: 0px;
	margin: 0px;
	padding: 0px;
}

#i8e392 {
	position: relative;
	top: 35px;
	left: 25px;
	width: 200px;
	height: 35px;
	border: 0px none;
	border-radius: 7px;
	background-color: #8a4545;
	text-align: center;
	color: #fdfdfd;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
	box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.5);
	padding: 0px;
	margin: 0px;
}

#i6yg8g {
	position: relative;
	top: 15px;
	height: 205px;
	margin: 0px;
	padding: 0px;
}

#iqzgf4 {
	background-color: #fff8f8;
	height: 270px;
	width: 250px;
	border-radius: 20px 20px 20px 20px;
	position: relative;
	top: 15px;
	left: 45px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	padding: 0px;
	margin: 0px;
}

#i71s98 {
	position: relative;
	left: 60px;
	width: 220px;
	height: 35px;
	border-radius: 7px;
	background-color: #6f1d1d;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: #fdfdfd;
	border: 0px none rgba(0, 0, 0, 0);
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#ixkbtg {
	position: relative;
	top: 75px;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

#i4j7hg {
	position: relative;
	left: 10px;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #d60000;
	top: 6px;
	max-width: 140px;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#i7vw6u {
	position: relative;
	left: 135px;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #d60000;
	top: -16px;
	width: 955px;
	height: 135px;
	padding: 0px;
	margin: 0px;
	letter-spacing: 0px;
}

#iy0w9r {
	border: 10px solid rgba(147, 75, 75, 0.85);
	position: relative;
	height: 165px;
	width: 1145px;
}

#iybpdh {
	position: relative;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 600;
	left: 20px;
	top: 55px;
	width: 725px;
	margin: 0px;
	padding: 0px;
}

#iitwbc {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#i7xlhl {
	height: 45px;
	position: relative;
}

#ib81jz {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#idkq7h {
	padding: 10px;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	position: relative;
	left: 200px;
	top: -29px;
	color: #000000;
	width: 545px;
}

#i3po9k {
	height: 45px;
	position: relative;
}

#i5fj2f {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#i7yq1c {
	height: 45px;
	position: relative;
}

#idu7vx {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#iwwaxj {
	height: 45px;
	position: relative;
}

#inqnnz {
	font-weight: normal;
	font-family: "Inter", sans-serif;
}

#iiawfa {
	padding: 10px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	position: relative;
	left: 13px;
	color: #000000;
	width: 735px;
}

#i9w8ag {
	position: relative;
	left: 350px;
	top: -600px;
	height: 600px;
	border-bottom: 5px solid rgba(147, 75, 75, 0.6);
	border-right: 5px solid rgba(147, 75, 75, 0.6);
	border-left: 5px solid rgba(147, 75, 75, 0.6);
	width: 795px;
}

#ia0qth {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid rgba(147, 75, 75, 0.85);
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: rgba(227, 179, 179, 0.5);
	color: #000000;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#i2vuok {
	height: 45px;
	position: relative;
	top: 25px;
}

#ifuk9u {
	position: relative;
	width: 175px;
	height: 30px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	border-radius: 7px;
	border: 0.5px solid #737373;
	box-shadow: 2px 2px 5px 0 rgba(168, 168, 168, 0.5);
	left: 20px;
	top: 5px;
	background-color: #efefef;
	color: #000000;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

#ithezd {
	height: 45px;
	position: relative;
	top: 25px;
}

#i9lqo2 {
	min-height: 100px;
	margin: 0px;
	padding: 0px;
}

#iy2ne2 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
}

#i9b28cj {
	font-family: "Inter", sans-serif;
	color: #0b9f37;
}
#iitwbc:hover {
	background-color: #e4e4e4;
}

#iitwbc:active {
	background-color: #a8a8a8;
}

#ib81jz:hover {
	background-color: #e4e4e4;
}

#i5fj2f:hover {
	background-color: #e4e4e4;
}

#idu7vx:hover {
	background-color: #e4e4e4;
}

#ifuk9u:hover {
	background-color: #e4e4e4;
}

#ia0qth:hover {
	background-color: rgba(207, 164, 164, 0.5);
}

#ib81jz:active {
	background-color: #a8a8a8;
}

#i5fj2f:active {
	background-color: #a8a8a8;
}

#idu7vx:active {
	background-color: #a8a8a8;
}

#ifuk9u:active {
	background-color: #a8a8a8;
}

#ia0qth:active {
	background-color: rgba(125, 99, 99, 0.5);
}

#i71s98:hover {
	background-color: #842222;
}

#i71s98:active {
	background-color: #9c3737;
}

#i8e392:hover {
	background-color: #a15151;
}

#i8e392:active {
	background-color: #c67474;
}

#ifffxi:hover {
	background-color: #e4e4e4;
}

#ifffxi:active {
	background-color: #a8a8a8;
}
