<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>3_ProfileWebSery</display-name>
	<welcome-file-list>
		<!-- <welcome-file>OldPages/LoginPageOld.jsp</welcome-file> -->
		<welcome-file>/WEB-INF/pages/PreHomePage.jsp</welcome-file>
		<!-- <welcome-file>WelcomePage.jsp</welcome-file> -->
	</welcome-file-list>

	<!-- Redirecting HTTP to HTTPS -->
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Secure Area</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->
	
	<!-- Spring MVC -->
 	<!-- <servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> -->

	<!-- Servlet Context -->
	<context-param>
		<param-name>ServletLogin</param-name>
		<param-value>com.sunya.services.ServiceLogin</param-value>
	</context-param>
	<context-param>
		<param-name>ServletPersonalInformation</param-name>
		<param-value>com.sunya.services.ServicePersonalInformation</param-value>
	</context-param>
	<context-param>
		<param-name>ServletCreateAccount</param-name>
		<param-value>com.sunya.services.ServiceCreateAccount</param-value>
	</context-param>
	<context-param>
		<param-name>ServletFeedback</param-name>
		<param-value>com.sunya.services.ServiceFeedback</param-value>
	</context-param>
	<context-param>
		<param-name>UnderConstruction</param-name>
		<param-value>UnderConstruction</param-value>
	</context-param>


</web-app>